img.vue-logo {
  content: url('/img/frameworks/vue3.png');
}
[data-theme='dark'] img.vue-logo {
  content: url('/img/frameworks/vue3-dark.png');
}

img.zb-react-logo {
  content: url('/img/frameworks/zb-react.png');
}
[data-theme='dark'] img.zb-react-logo {
  content: url('/img/frameworks/zb-react-dark.png');
}